body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('../img/fondo.jpeg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    position: relative;
}
#opciones {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 9999; /* Para asegurar que esté por encima de otros elementos */
}
.audio {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.volver-link {
    color: black;
    text-decoration: none;
    margin-top: 10px;
}
.activo {
    background-color: red; /* Cambia el color a rojo */
    /* Otros estilos según tu preferencia */
}
.contenedor {
    width: 100%;
    height: 100%;
    position: relative;
}

.mitad-izquierda, .mitad-derecha {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mitad-izquierda {
    left: 0;
    background-color: rgba(255, 93, 93, 0.5); /* Rojo con 50% de opacidad */
}

.mitad-derecha {
    right: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Negro con 50% de opacidad */
}

.formulario {
    text-align: center;
    padding: 30px;
    background-color: white; 
    border-radius: 10px; 
    width: 80%; 
    max-width: 300px; 
    margin: 0 auto; 
    font-weight: bold; 
}

.formulario img {
    max-width: 100px;
}

.formulario h2 {
    color: rgb(2, 2, 2);
    font-weight: bold; 
    margin-bottom: 20px;
}

.formulario input[type="text"],
.formulario input[type="password"] {
    width: 100%; /* Ocupar todo el ancho disponible */
    padding: 10px;
    margin-left: -10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center; /* Centrar horizontalmente */
}

.formulario button[type="submit"] {
    background-color: rgba(255, 93, 93);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formulario button[type="submit"]:hover {
    background-color: rgb(240, 71, 71);
}

.formulario .objetos a {
    color: rgb(7, 7, 7);
    text-decoration: none;
    margin-right: 10px;
}

.botones {
    display: flex;
    flex-direction: column;
    margin-right: calc(50% - 830px);
    
}

.inicio-btn, .registro-btn {
    border: none;
    padding: 20px 30px;
    margin-bottom: 15px; 
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px; 
    border-top-right-radius: 0; 
    border-bottom-right-radius: 0; 
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 16px; 
    font-weight: bold; 
    background-color: white; 
    text-decoration: none;
}

.inicio-btn:hover, .registro-btn:hover {
    background-color: #f5f5f5; /* Cambiar color al pasar el ratón */
    color: red; /* Cambiar color del texto a rojo */
}

.inicio-btn:active, .registro-btn:active {
    color: red; /* Cambiar color del texto a rojo cuando se hace clic */
}


@media (max-width: 768px) {
    .contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mitad-izquierda, .mitad-derecha {
        position: static;
        width: 100%;
        background-color: transparent;
    }

    .botones {
        margin-right: 0; /* Eliminar el margen derecho */
        margin-top: 20px; /* Añadir margen superior */
    }
}
