body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('../img/breeze.webp');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}
.volver-link {
    position: fixed;
    top: 20px;
    right: 20px;
    text-decoration: none; /* Subrayado */
    color: red; /* Color rojo */
    text-align: center; /* Alineación centrada */
    padding: 5px; /* Espaciado interno */
}
.contenedor{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.formulario{
    background-color: white;
    width: 400px;
    height: 500px;
    border-radius: 30px;
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 2px solid rgba(0, 0, 0, 0.55);
}
.formulario img{
    width: 20%;
    height: 20%;
}
.formulario input{
    width: 70%;
    height: 40%;
    font-size: 15px;
    border: 1px solid gray;
    background-color: transparent;
    border-radius:5px ;
    padding: 5px;
    transition: all 0.2;
   
}
.formulario select{
    width: 70%;
    height: 40%;
    font-size: 15px;
    padding: 5px;
    border-radius:5px ;
 
    transition: all 0.2s;
}
.formulario select:hover{
    border: 1px solid rgb(235, 93, 93) ;
    transition: all 0.2s;

}
.formulario input:hover{
    border: 1px solid rgb(235, 93, 93) ;
    transition: all 0.2s;
}


#agenteSeleccionado {
    width: 400px;
    height: 500px;
    border: dashed 20px solid black;
    overflow: hidden; 
    border-radius: 25px;
    text-align: center;
    color: rgb(61, 61, 61);
}

#agenteSeleccionado img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit:fill; 
}
.submit-btn{
    background-color: transparent;
    font-size: 30px;
    border-radius:35px;
    padding: 20px;
    color: gray;
    border: 1px solid gray;
    transition: all 0.2s;
   
}
.submit-btn:hover{
    background-color: rgb(235, 93, 93);
    color: rgb(255, 255, 255);
    border: 1px solid rgba(128, 128, 128, 0);
    transition: all 0.2s;
   
}
.objetos{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;

}
.objetos a{
    text-decoration: none;
    color: gray;
    font-size: 20px;
    transition: all 0.2s;
}
.objetos a:hover{
    color: rgb(235, 93, 93);
    transition: all 0.2s;
}